<div class="initiative-display">
    <div class="display-cards-container">
        {{#each cards}}
        <div class="display-card {{#if isActive}}active{{/if}} {{#if isKO}}ko{{/if}}" 
             data-card-id="{{id}}" 
             style="transition: all 0.5s ease-out;">
            <div class="display-card-image">
                <img src="{{img}}" alt="{{name}}">
                {{#if threats}}
                <div class="display-threat-counter">{{threats}}</div>
                {{/if}}
            </div>
            <div class="display-card-name">{{name}}</div>
        </div>
        {{/each}}
    </div>
</div>