<div class="focus-tracker-container">
  <h2>Group Focus Tracker</h2>

  {{#each members as |member|}}
    <div class="member-item">
      <!-- Affiche le nom à gauche et le base focus à droite -->
      <div class="member-row">
        <div class="member-name">{{member.name}}</div>
        <div class="focus-circle-container">
          <div class="focus-label">Base Focus</div>
          <div class="focus-circle">{{member.baseFocus}}</div>
        </div>
      </div>

      <!-- Affiche le current focus avec les boutons et le generate focus -->
      <div class="member-row">
        <div class="generate-focus-button">
          <button class="focus-generate" data-actor-id="{{member.id}}">Generate Focus</button>
        </div>
        <div class="current-focus-section">
  <div class="focus-label">Current Focus</div>
  <div class="focus-circle-container">
    <div class="focus-adjust-buttons">
      <button class="focus-add" data-actor-id="{{member.id}}">+</button>
      <button class="focus-subtract" data-actor-id="{{member.id}}">-</button>
    </div>
    <div class="focus-circle">{{member.currentFocus}}</div>
    
  </div>
</div>
      </div>
    </div>
  {{/each}}

  <!-- Bouton pour générer le focus pour tous -->
<div class="generate-all-button">
    {{#if this.data.groupMembers.length}}
        <button class="focus-generate-all">Generate All Focus</button>
    {{else}}
        <button disabled class="disabled-button">Please add characters to the synergy group to set focus.</button>
    {{/if}}
</div>
