<div class="groups-tracker">

  {{#each groups}}
    <div class="group-card">
      <div class="group-header">
        <div>
            <h3 class="group-name">{{this.name}}</h3>
             <button class="rest-group-button" data-group="{{this.id}}">Rest Group</button>
        </div>
        <div class="synergy-container">
  <div class="synergy-title">Current Synergy</div>
  <div class="tracker-synergy-value" id="current-synergy-{{this.id}}">{{this.currentSynergy}}</div>
  <div class="synergy-buttons">
    <button class="synergy-button" data-group-id="{{this.id}}" data-action="increase">+</button>
    <button class="synergy-button" data-group-id="{{this.id}}" data-action="decrease">-</button>
    <button class="synergy-button" data-group-id="{{this.id}}" data-action="fill">Fill</button>
    <button class="synergy-button" data-group-id="{{this.id}}" data-action="empty">Empty</button>
  </div>
  <div class="synergy-title">Base Synergy: {{this.baseSynergy}}</div>
</div>
      </div>

      <div class="member-list">
        {{#each this.members}}
          <div class="member-card">
            <div class="member-info-rest-button">
                <div class="avatar-info-container">
                    <img class="member-avatar clickable-avatar" src="{{this.img}}" alt="{{this.name}}" data-id="{{this.id}}">
                    <div class="member-info">{{this.name}}</div>
                </div>
                <div class="rest-member-button" data-id="{{this.id}}">Rest</div>
            </div>
            <div class="stat-cards">


     <div class="stat-card stamina">
  <div class="stat-title">Stamina</div>
  <div class="stat-value stamina-value" data-id="{{this.id}}">{{this.stamina}}</div>
  <div class="stat-buttons">
    <button class="stat-button stamina-btn" data-stat="stamina" data-id="{{this.id}}" data-action="increase" {{#if (eq this.stamina this.staminaMax)}}disabled{{/if}}>+</button>
    <button class="stat-button stamina-btn" data-stat="stamina" data-id="{{this.id}}" data-action="decrease">-</button>
  </div>
</div>

     <div class="stat-card focus">
  <div class="stat-title">Focus</div> 
  <div class="stat-value focus-value" data-id="{{this.id}}">{{this.focus}}</div>
  <div class="stat-buttons">
    <button class="stat-button focus-btn" data-stat="focus" data-id="{{this.id}}" data-action="increase">+</button>
    <button class="stat-button focus-btn" data-stat="focus" data-id="{{this.id}}" data-action="decrease">-</button>
  </div>
</div>

<div class="stat-card wounds">
  <div class="stat-title wounds">Wounds</div>
<div class="group-tracker-wound-container" data-id="{{id}}" data-active-wounds="{{activeWounds}}">

  <div class="wounds-tracker">
    <div class="group-tracker-wound-box" data-wound="1" {{#if (gte activeWounds 1)}}class="ticked"{{/if}}></div>
    <div class="group-tracker-wound-box" data-wound="2" {{#if (gte activeWounds 2)}}class="ticked"{{/if}}></div>
    <div class="group-tracker-wound-box" data-wound="3" {{#if (gte activeWounds 3)}}class="ticked"{{/if}}></div>
  </div>

    <div class="wound-buttons">
    <button class="tracker-wound-btn" data-id="{{id}}" data-action="wound">Wound</button>
    <button class="tracker-wound-btn" data-id="{{id}}" data-action="heal">Heal</button>
  </div>
</div>
</div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>